extends ../layouts/default

block content
	section#fixed
		.wrapper
			h2 Faça aqui a sua simulação
			form(action='', method='post', id='formHead')
				ul.clearfix
					li
						label Valor do empréstimo
						input.text(type='text', name='amount', id='amount')
					li
						label Prazo de quitação (meses)
						input.text(type='text', name='repayDate')
					li
						label Email de contato
						input.text(type='email', name='email')
					li
						label.empty .
						input.submit(type='submit', value='Ver Simulação', onclick='GETAPP.saveLead(this);return false;')
	header#quotation(name='quotation')
		.wrapper
			.logo
				h1(itemprop='brand') Get
				p(itemprop='category') CRÉDITO RAPIDO
			aside
				h2(description='category') Obtenha crédito rápido
				form(action='', method='post', id='formPage')
					ul
						li
							label Valor do empréstimo
							input.text(type='text' name='amount')
						li
							label Prazo de quitação (meses)
							input.text(type='text', name='repayDate')
						li
							label Email de contato
							input.text(type='email', name='email')
						li
							input.submit(type='submit', value='Ver Simulação', onclick='GETAPP.saveLead(this);return false;')

	main
		section#partners
			.wrapper.clearfix
				h2 Parceiros
				.swiper-container
					ul#slides.swiper-wrapper
						li.swiper-slide
							img(src='images/partners/banco-do-brasil.jpg', alt='Banco do Brasil')
						li.swiper-slide
							img(src='images/partners/santander.jpg', alt='santander')
						li.swiper-slide
							img(src='images/partners/itau.jpg', alt='Itau')
						li.swiper-slide
							img(src='images/partners/bradesco.jpg', alt='bradesco')
						li.swiper-slide
							img(src='images/partners/hsbc.jpg', alt='hsbc')
						li.swiper-slide
							img(src='images/partners/caixa.jpg', alt='caixa')
						
		section#opinions
			.wrapper
				h2.desktop Opiniões Sobre a Get
				h2.mobile
					| Opiniões
					br
					| Sobre a Get
				.ghost .
				.swiper-container.clearfix
					ul#slides.swiper-wrapper.clearfix
						li.swiper-slide(itemscope='', itemtype='http://data-vocabulary.org/Review')
							ul.outer.clearfix
								li
									ul.inner.clearfix
										li 1
										li 2
										li 3
										li 4
										li(itemprop='rating') 5
											meta(itemprop='worstRating', content='1')
										meta(itemprop='bestRating', content='5')
								li(itemprop='reviewer')
									h4 Tiago Souza
								li(itemprop='contentLocation')
									h5 São Paulo / SP
								li
									p(itemprop='summary')
										| “Crédito Rápido só com a get. Realmente um serviço sem muita demora e eficiente”
								li(itemprop='itemreviewed' style='display:none')
									p Get Crédito Rápido
						li.swiper-slide(itemscope='', itemtype='http://data-vocabulary.org/Review')
							ul.outer.clearfix
								li
									ul.inner.clearfix
										li 1
										li 2
										li 3
										li 4
										li(itemprop='rating') 5
											meta(itemprop='worstRating', content='1')
										meta(itemprop='bestRating', content='5')
								li(itemprop='reviewer')
									h4 Caué Silva
								li(itemprop='contentLocation')
									h5 São Paulo / SP
								li
									p(itemprop='summary')
										| “Quando mais precisei a Get me ajudou. Serviço fantástico!”
								li(itemprop='itemreviewed' style='display:none')
									p Get Crédito Rápido
						li.swiper-slide(itemscope='', itemtype='http://data-vocabulary.org/Review')
							ul.outer.clearfix
								li
									ul.inner.clearfix
										li 1
										li 2
										li 3
										li 4
										li(itemprop='rating') 5
											
								li(itemprop='reviewer')
									h4 Paulo Emerson
								li(itemprop='contentLocation')
									h5 Rio de Janeiro / RJ
								li
									p(itemprop='summary')
										| “O meu carro quebrou no final do mês. Na get encontrei o serviço ideal para obter crédito rápiso e conseguir o arranjo do carro.”
								li(itemprop='itemreviewed' style='display:none')
									p Get Crédito Rápido
					.media(itemscope='' itemtype='http://data-vocabulary.org/Review-aggregate')
						| Média de
						span(itemprop='rating' itemscope='' itemtype='http://data-vocabulary.org/Rating')
							span(itemprop='average') 5
								| estrelas num total de
							span(itemprop='count') 3
									| opiniões.
							span(itemprop='best' style='display:none') 5
			a#cta.ancora(href='#quotation')
				.inner Ver Cotações
		section#howitworks
			.wrapper
				h2 Como funciona?
				.item
					span 1
					.icon
						img(src='images/icon-one.png')
					h3 Preencha o formulário
					p
						| Em documentos utilizados para testes, este tipo de texto é utilizado para evitar que as pessoas.
				.item
					span 2
					.icon
						img(src='images/icon-two.png')
					h3 Obtenha as cotações
					p
						| Em documentos utilizados para testes, este tipo de texto é utilizado para evitar que as pessoas.
				.item
					span 3
					.icon
						img(src='images/icon-three.png')
					h3
						| Feche
						br
						| Online
					p
						| Em documentos utilizados para testes, este tipo de texto é utilizado para evitar que as pessoas.

				a#cta.ancora(href='#quotation')
					.inner Ver Cotações
		section#informations
			.wrapper
				h2 Informações Adicionais
				.infobox
					ul.tabs.desktop
						li.selected
							a.first(href='', rel='view-first') Crédito Rápido
							span
						li
							a.second(href='', rel='view-second') Crédito Pessoal
							span
						li
							a.third(href='', rel='view-third') Crédito sem burocracia
							span
					ul.tabs.mobile
						li.selected
							a.first(href='', rel='view-first') 1
							span
						li
							a.second(href='', rel='view-second') 2
							span
						li
							a.third(href='', rel='view-third') 3
							span
					.tabcontents.clearfix
						#view-first.tabcontent
							h3 Crédito fácil e rápido
							p
								| A Get está integrada com os melhores fornecedores de crédito do Brasil. Aqui poderá encontrar o produto de crédito que se adequa mais ao seu perfil.
							p
								| Crédito a curto prazo, crédito a longo prazo, crédito para habitação ou crédito para estudantes. A Get oferece toda a informação necessária sem burocracia e de forma mais rapida e eficiente.
						#view-second.tabcontent
							h3 O melhor crédito pessoal
							p
								| Pesquise os melhores produtos para produtos de crédito pessoal. É só colocar os seus dados e automaticamente verificar que produtos tem a sua disposição.
							p
								| Get oferece a melhor forma para pesquisar produtos acessiveis para crédito pessoal.
						#view-third.tabcontent
							h3 Acreditamos na facilidade de obtenção crédito
							p
								| Queremos minimizar ao máximo a burocracia para obeter o seu crédito. Acreditamos que consiga realizar uma pesquisa bem rápida e eficiente para encontrar o fornecedor de crédito mais indicado apenas preenchendo o nosso formulário.
							p
								| É bem simples e eficaz. Obtenha crédito agora!

			a#cta.ancora(href='#quotation')
				.inner Ver Cotações
